@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
}

.invisible-black-menu {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 30;
}

.white-nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.white-nav-link {
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  margin: 25px 10px 25px 10px;
  color: #777;
}

.white-nav-link:hover {
  color: black;
}

.yellow-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: rgb(224, 240, 6);
  font-family: Arial, Helvetica, sans-serif;
}

.yellow-nav-link {
  margin-left: 10px;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.search-div {
  padding: 5px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777;
}

.search-icon {
  height: 18px;
  transform: scaleX(-1);
}

.hamburger-button {
  display: none;
}

.black-nav {
  display: inline-flex;
  background-color: #111;
  justify-content: space-between;
  width: 100%;
}

.black-nav-right {
  margin-right: 10px;
}

a.black-nav-link {
  color: #555;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 0 0 10px;
}

a.black-nav-link:hover {
  color: white;
}

footer.site-footer {
  width: 100%;
}

.media-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

.corp-data {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  background-color: black;
  color: white;
}

ul.social-links {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  padding: 2px;
}

.logo {
  width: 60%;
  margin: 20px 0 0 20px;
  grid-column: 1/3;
  grid-row: 1/3;
}

.funding-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.funding-link {
  padding: 5px;
  text-decoration: none;
  color: #f42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.funding-link:hover {
  color: black;
}

.flinkbor {
  border-left-color: #f42;
  border-left-style: solid;
  border-left-width: 1px;
}

.orange-row {
  display: flex;
  background-color: #f42;
  height: 15%;
  align-items: center;
}

li.social-link {
  padding: 10px;
  margin: 0 10px 0 10px;
  border: 2px solid #555;
  background-color: #555;
  border-radius: 50%;
}

li.social-link:hover {
  background-color: #333;
}

ul.foot-links {
  list-style-type: none;
  display: inline-flex;
}

li.foot-link {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  margin: 10px 5px 10px 5px;
  color: #aaa;
}

li.foot-link:hover {
  color: #fff;
}

p.copyrt-info {
  font-family: Arial, Helvetica, sans-serif;
}

img.corp-logo {
  margin: 0 5px 0 5px;
  width: 40px;
  height: 15px;
}

img.corp-logo2 {
  position: relative;
  left: 5px;
  top: 25px;
  height: 60px;
}

.highlights {
  display: grid;
  margin: 14vh 0 10px 0;
  grid-template-areas:
    "hl1 hl2"
    "hl1 hl3";
  gap: 10px;
}

.small-logo {
  width: 25px;
}

.hl-title {
  font-family: 'Dela Gothic One', cursive;
  color: white;
  margin-left: 10px;
  font-size: 25px;
  grid-column: 1/4;
  grid-row: 1/3;
}

.main-hl {
  font-family: 'Dela Gothic One', cursive;
  color: white;
  margin-left: 10px;
  font-size: 40px;
  grid-column: 1/4;
  grid-row: 2/4;
}

.hl-detail {
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
  font-family: Cairo, Helvetica, sans-serif;
  font-weight: 500;
  color: #999;
  grid-column: 1/4;
  grid-row: 4/5;
}

.left-hl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 15% 50% 15%;
  width: 60vw;
  height: 30.8vw;
  grid-area: hl1;
  background: linear-gradient(to bottom right, rgba(243, 47, 47, 0.582) 0%, rgba(24, 3, 15, 0.82) 80%), url('images/image1.jpg'), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal.jpg);
  background-size: cover;
}

.left-hl:hover {
  background: linear-gradient(to bottom right, rgba(247, 130, 130, 0.582) 0%, rgba(48, 31, 40, 0.82) 80%), url('images/image1.jpg'), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal.jpg);
  background-size: cover;
}

.hl-time {
  font-size: 14px;
  font-family: Cairo, Helvetica, sans-serif;
  font-weight: 500;
  margin-left: 30%;
  color: #999;
  grid-column: 3/4;
  grid-row: 1/3;
}

.topright-hl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 15% 50% 15%;
  width: 37vw;
  height: 15vw;
  grid-area: hl2;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(48, 7, 38, 0.73)), url(https://technocio.com/wp-content/uploads/2021/03/Google.jpg);
  background-size: cover;
}

.topright-hl:hover {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.733) 0%, rgba(95, 73, 85, 0.5) 80%), url('images/image1.jpg'), url(https://technocio.com/wp-content/uploads/2021/03/Google.jpg);
  background-size: cover;
}

.bottomright-hl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 15% 50% 15%;
  width: 37vw;
  height: 15vw;
  grid-area: hl3;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(48, 7, 38, 0.73)), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2021%2F01%2FGemini2-duplicates-monitor-alert-e1611566958933.png&signature=f16a0428902b19646bc6f21bf44ce3f4);
  background-size: cover;
}

.bottomright-hl:hover {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.733) 0%, rgba(95, 73, 85, 0.5) 80%), url('images/image1.jpg'), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2021%2F01%2FGemini2-duplicates-monitor-alert-e1611566958933.png&signature=f16a0428902b19646bc6f21bf44ce3f4);
  background-size: cover;
}

.latest-section {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.latest-container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "first second third fourth"
    "fifth sixth seventh eighth";
}

.latest-news {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
  width: 20vw;
  height: 40vh;
}

.latest-details {
  margin-top: 5px;
  display: flex;
  align-items: baseline;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
}

.latest-img {
  width: 100%;
  height: 60%;
}

.latest-caption {
  width: 100%;
}

.latest-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.latest-link:hover {
  text-decoration: underline;
  color: #f42;
}

.latest-author {
  text-decoration: none;
  color: #999;
}

.latest-author:hover {
  color: #555;
}

.l-first {
  grid-area: first;
}

.l-second {
  grid-area: second;
}

.l-third {
  grid-area: third;
}

.l-fourth {
  grid-area: fourth;
}

.l-fifth {
  grid-area: fifth;
}

.l-sixth {
  grid-area: sixth;
}

.l-seventh {
  grid-area: seventh;
}

.l-eighth {
  grid-area: eighth;
}

.funding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
}

.cards {
  display: flex;
}

.fund-heading {
  display: block;
  color: #f42;
  font-family: 'Dela Gothic One', cursive;
  text-decoration: none;
}

.fund-heading:hover {
  color: black;
}

.card-title {
  margin-left: 10%;
  font-family: 'Dela Gothic One', cursive;
  color: white;
}

.card-img {
  z-index: 1;
  position: relative;
  top: 32%;
  left: 3%;
  width: 4vw;
  height: 4vw;
}

.money-funded {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.caption {
  position: relative;
  bottom: 40%;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
  color: #555;
}

.card-content {
  height: 38%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(224, 209, 195, 0.349);
  font-size: 12px;
}

.description {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #f42;
  color: #555;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.unstyled {
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  text-decoration: none;
}

.unstyled:hover {
  color: #555;
}

.grey-row {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(245, 188, 170, 0.404);
}

.funding-card {
  margin: 0 15px 0 15px;
  width: 20vw;
}

.categories {
  display: grid;
  grid-template-areas:
    "first second third"
    "fourth fifth sixth"
    "seventh eighth nineth";
  width: 80%;
  gap: 20px;
}

.hardfork {
  grid-area: first;
}

.pre-title {
  font-family: 'Cairo', Helvetica, sans-serif;
  color: white;
  font-size: 14px;
}

.big-title {
  font-family: 'Dela Gothic One', cursive;
  color: white;
  margin: -10px 0 -10px 0;
}

.cat-details {
  display: flex;
  font-family: 'Cairo', Helvetica, sans-serif;
  color: #777;
  font-size: 14px;
}

.cat-author {
  color: #777;
  text-decoration: none;
}

.cat-author:hover {
  color: white;
}

.categories-latest {
  width: 103%;
  background-color: rgba(245, 188, 170, 0.404);
  display: grid;
  grid-template-areas:
    "latest img"
    "text img";
}

.categories-pre-title {
  margin-left: 5%;
  font-family: 'Cairo', Helvetica, sans-serif;
  color: #f42;
  font-size: 14px;
  grid-area: latest;
}

.categories-big-title {
  margin-left: 5%;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f42;
  font-weight: bold;
  font-size: 12px;
  word-wrap: break-word;
  grid-area: text;
  position: relative;
  top: -50%;
}

.deals-figure {
  margin: 10px;
}

.categories-thumbnail {
  width: 100%;
  grid-area: img;
  object-fit: cover;
  height: 100%;
}

.categories-list {
  color: #f42;
  padding-left: 5%;
}

.list-link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #777;
}

.list-link:hover {
  color: #333;
}

.hf-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1280px-GameStop_Globen-e1611550531323-368x276.jpg");
  background-size: cover !important;
}

.apps-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Snag_3c8ecdc-368x276.png");
  background-size: cover;
}

.apps {
  grid-area: second;
}

.gear-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2015/03/MacBook-USB-C-Feat-Img-730x365.jpg");
}

.gear {
  grid-area: third;
}

.tech {
  grid-area: fourth;
}

.tech-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/vintage-robot-368x276.jpg");
}

.creative {
  grid-area: fifth;
}

.creative-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/Untitled-design-13-368x276.png");
}

.podium {
  grid-area: sixth;
}

.podium-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/open-source-code-gq-368x276.png");
}

.insights {
  grid-area: seventh;
}

.insights-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/zoom-fundraising-gq-368x276.png");
}

.launch {
  grid-area: eighth;
}

.launch-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/toyota-suv-new-ev-car-future-electric-japan-368x276.jpg");
}

.distract {
  grid-area: nineth;
}

.distract-most-popular {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 10px;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.95) 80%), url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/amplified-368x276.jpg");
}

.latest-deals {
  width: 80%;
}

.deals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-prices {
  display: flex;
  align-items: baseline;
}

.price1 {
  text-decoration: line-through;
  color: #777;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 2px;
}

.price2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2px;
}

.deals-container {
  display: grid;
  grid-template-areas:
    "deal1 deal2 deal3 deal4"
    "deal5 deal6 deal7 deal8";
}

.deal-img {
  width: 100%;
  height: 60%;
}

.deal-card1 {
  grid-area: deal1;
}

.deal-card2 {
  grid-area: deal2;
}

.deal-card3 {
  grid-area: deal3;
}

.deal-card4 {
  grid-area: deal4;
}

.deal-card5 {
  grid-area: deal5;
}

.deal-card6 {
  grid-area: deal6;
}

.deal-card7 {
  grid-area: deal7;
}

.deal-card8 {
  grid-area: deal8;
}

@media only screen and (max-width: 1024px) {
  .black-nav {
    font-size: 12px;
    height: 6vh;
    align-items: center;
  }

  .black-nav-left {
    margin-left: 20%;
  }

  .white-nav {
    height: 6vh;
    align-items: center;
  }

  .white-links {
    font-size: 12px;
    margin-left: 20%;
  }

  .invisible-black-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 20%;
    height: 5%;
  }

  .invisible-logo {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .inv-logo {
    height: 60%;
  }

  .invisible-grey {
    display: none;
  }

  .logo {
    display: none;
  }

  .main-hl {
    font-size: 30px;
  }

  .hl-time {
    display: none;
  }

  .hl-title {
    font-size: 16px;
  }

  .left-hl {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(48, 7, 38, 0.73)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal.jpg);
    background-size: cover;
  }

  .left-hl:hover {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.733) 0%, rgba(95, 73, 85, 0.5) 80%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal.jpg);
    background-size: cover;
  }

  .latest-container {
    grid-template-areas:
      "first second third"
      "fourth fifth sixth"
      "seventh eighth .";
    width: 80%;
    gap: 20px;
  }

  .forth-card {
    display: none;
  }

  .funding {
    width: 98%;
  }

  .fund-heading {
    font-size: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
  }

  .funding-card {
    width: 40vw;
  }

  .categories {
    grid-template-areas:
      "first second"
      "third fourth"
      "fifth sixth"
      "seventh eighth"
      "nineth .";
    width: 90%;
  }

  .deals-container {
    grid-template-areas:
      "deal1 deal2 deal3"
      "deal4 deal5 deal6"
      "deal7 deal8 .";
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .black-nav {
    display: none;
  }

  .invisible-black-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 30%;
    height: 5%;
  }

  .logo {
    display: none;
  }

  .main-hl {
    font-size: 20px;
  }

  .hl-title {
    font-size: 20px;
  }

  .highlights {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
  }

  .left-hl,
  .topright-hl,
  .bottomright-hl {
    width: 100%;
    height: 35vw;
    margin: 10px 0 10px 0;
  }

  .left-hl {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(48, 7, 38, 0.73)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal.jpg);
    background-size: cover;
  }

  .left-hl:hover {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.733) 0%, rgba(95, 73, 85, 0.5) 80%), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal.jpg);
    background-size: cover;
  }

  .invisible-logo {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .inv-logo {
    height: 80%;
  }

  .invisible-grey {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555;
    background-color: rgba(3, 3, 3, 0.767);
  }

  .white-nav {
    height: 8vh;
  }

  .white-nav-link {
    display: none;
  }

  .search-btn {
    display: flex;
    margin-left: 10vw;
    margin-right: 1vw;
  }

  .search-icon {
    width: 35px;
    height: 35px;
  }

  .hamburger-button {
    display: inline;
    height: 7vh;
  }

  .hb-icon {
    height: 7vh;
  }

  .latest-section {
    width: 95%;
  }

  .latest-container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .latest-caption {
    width: 100%;
    margin-left: 5px;
  }

  .latest-link {
    width: 100%;
  }

  .latest-img {
    height: 12vh;
    width: 12vh;
    object-fit: cover;
  }

  .latest-news {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .funding {
    width: 98%;
  }

  .funding-card {
    width: 100%;
    margin: 2vh 0 2vh 0;
    height: 45vh;
  }

  .forth-card {
    display: none;
  }

  .card-img {
    width: 10vw;
    height: 10vw;
  }

  .funding-links {
    display: flex;
    flex-direction: column;
  }

  .funding-link {
    border: none;
  }

  .funding-header {
    flex-direction: column;
    align-items: baseline;
  }

  .hl-detail {
    position: relative;
    top: -20%;
  }

  .hl-time {
    display: none;
  }

  .categories {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .latest-deals {
    width: 95%;
  }

  .deals-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 5vh;
  }

  .deals-figure {
    display: flex;
    flex-direction: row;
  }

  .deal-caption {
    width: 100%;
    margin-left: 5px;
  }

  .deal-img {
    height: 12vh;
    width: 12vh;
    object-fit: cover;
  }

  .deal-card1,
  .deal-card2,
  .deal-card3,
  .deal-card4,
  .deal-card5,
  .deal-card6,
  .deal-card7,
  .deal-card8 {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 10px 0 10px 0;
  }

  .corp-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small-logo {
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 3px;
    right: 3px;
  }

  .social-link {
    width: 2vw;
    height: 2vw;
    margin: 1vw;
  }

  .social-links {
    width: 100%;
  }
}
